html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

body {
	font-family: sans-serif;
}
.max-width {
	max-width: 1200px;
	margin-left:auto;
	margin-right:auto;
}
.header {
	padding: 20px 0;
}
	.logo {
		display: inline-block;
		padding: 0 20px;
		font-weight: bold;
		font-size: 1.4em;
		text-decoration: none;
		color: #444;
	}
	.header-right {
		float: right;
		color: #888;
	}
	.nav {
		background-color: #458df4;
	}
		.nav-link {
			display: inline-block;
			text-decoration: none;
			color: #fff;
			padding: 20px;
		}
		.nav-link:hover,
		.nav-link:focus,
		.nav-link.active {
			background-color: #3e7bd2;
		}


	
.content {
	position: relative;
	box-sizing: border-box;
	padding: 20px;
}
	#TableOfContents {
		position: absolute;
		top: 20px;
		right: 0;
		width: 200px;
		border: 1px solid #eee;
		padding: 20px;
	}

h1 {
	color: red
}