
.cards {
   display: flex;
   flex-wrap: wrap;
   align-items: stretch;
   justify-content: center;
}

.content a.hiddenFilter {
    display: inline-block;
    background-color: {{ .Param "css.mainColor"}};
    color: {{.Param "css.textColorOnMainColor"}}; 
    padding: 7px;
    border-radius: 3px;
    opacity: 0;
    margin: 20px;
}

.cards a.card {
    text-decoration: none;
    color: {{.Param "css.textColorOnMainColor"}}; 
}
.card {
    margin: 20px; 
    width: calc(33% - 51px);
    min-width: 260px;
    padding: 7px;
    
    opacity: 0.85;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
    background: {{ .Param "css.mainColor"}};
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

    .card .card-icon {
        height: 75px;
        width: 75px;
        
        border-radius: 50%;
        
        margin-bottom: 10px;
        max-height: 300px;
        background: {{ .Param "css.bgColor"}};
        border: 5px solid {{ .Param "css.bgColor"  }};
    }
    .card .card-title {
        display: block;
        font-size: 30px;
        font-weight: 500;
        line-height: 100px;
        font-family: 'Roboto', sans-serif;
    }
    .card .card-title.small {
        font-size: 20px;
        line-height: 25px;
    }
    .card .card-content {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: medium;
    }
    .card hr {
        border: none;
        border: 1px solid #fff;
        width: 80%;
    }
    .card .card-footer {
        display: block;
        font-size: 10px;
        font-weight: lighter;
        text-transform: uppercase;
    }

    .card .card-tags {
        margin: 10px 0;
        list-style: none;
    }
    .card .card-tags .card-tag {
        display: inline-block;
        margin: 0 5px;
        padding: 2px;
        border-radius: 2px;
    }
    .card .card-tags .card-tag-demo {
        background-color: yellow;
        color: #000;
    }
    .card .card-tags .card-tag-continuous {
        background-color: red;
        color: #000;
    }
    .card .card-tags .card-tag-lorhammer {
        background-color: green;
        color: #000;
    }