
.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
}

.cards a.card {
    text-decoration: none;
    color: {{.Param "css.textColorOnMainColor"}}; 
}
.card {
    position: relative;
    margin: 20px;
    width: 220px;
    height: 260px;
    padding: 7px;
    
    opacity: 0.85;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
    background: {{ .Param "css.mainColor"}};
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

    .card .card-icon {
        height: 75px;
        width: 75px;
        
        border-radius: 50%;
        
        margin-bottom: 10px;
        max-height: 300px;
        background: {{ .Param "css.bgColor"}};
        border: 5px solid {{ .Param "css.bgColor"  }};
    }
    .card .card-title {
        display: block;
        font-size: 30px;
        font-weight: 500;
        line-height: 100px;
        font-family: 'Roboto', sans-serif;
    }
    .card .card-title.small {
        font-size: 20px;
        line-height: 25px;
    }
    .card .card-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: medium;
    }
    .card hr {
        border: none;
        border: 1px solid #fff;
        width: 80%;
    }
    .card .card-footer {
        display: block;
        font-size: 10px;
        font-weight: lighter;
        text-transform: uppercase;
        text-align: center;
        position: absolute;
        bottom: 0;
    }