html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}


@font-face {
    font-family: 'special-font';
    src: url('{{ (delimit (slice (.Param "css.specialFontName") "woff") ".") | absURL }}') format('woff'),
         url('{{ (delimit (slice (.Param "css.specialFontName") "woff2") ".") | absURL }}') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
	font-family: sans-serif;
    background-color: {{ .Param "css.bgColor" | default "#FFF" }};
    color: {{ .Param "css.textColor" | default "#222" }};
}
.max-width {
	width: 90%;
	max-width: 1200px;
	margin-left:auto;
	margin-right:auto;
}
.header {
	padding: {{ .Param "css.headerPadding" | default "20px" }} 0;
	
	{{ if and (.Param "css.gradient_1") (.Param "css.gradient_2") }}
		background: {{ .Param "css.gradient_1" }};
		background: -moz-linear-gradient(45deg,  {{ .Param "css.gradient_1" }} 0%, {{ .Param "css.gradient_2" }} 100%);
		background: -webkit-linear-gradient(45deg,  {{ .Param "css.gradient_1" }} 0%, {{ .Param "css.gradient_2" }} 100%);
		background: linear-gradient(45deg,  {{ .Param "css.gradient_1" }} 0%, {{ .Param "css.gradient_2" }} 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ .Param "css.gradient_1" }}', endColorstr='{{ .Param "css.gradient_2" }}',GradientType=1 );
	{{else}}
		background: {{ .Param "css.headerBg" | default "#FFF" }};
	{{end}}
}
	.logo {
		display: inline-block;
		vertical-align: middle;
		max-height: 60px;
	}
	.header-sitename {
		font-family: 'special-font', sans-serif;
		display: inline-block;
		vertical-align: middle;
		font-size: 3em;
		text-decoration: none;
		{{if .Param "css.siteNameBorder"}}
			color: {{ .Param "css.headerBg" | default "#fff" }};
			text-shadow: 0 3px 0 {{ .Param "css.logoColor"  | default "#468ef4" }}, 3px 0 0 {{ .Param "css.logoColor"  | default "#468ef4" }}, 0 -3px 0 {{ .Param "css.logoColor"  | default "#468ef4" }}, -3px 0 0 {{ .Param "css.logoColor"  | default "#468ef4" }}, 2px 2px 0 {{ .Param "css.logoColor"  | default "#468ef4" }}, -2px 2px 0 {{ .Param "css.logoColor"  | default "#468ef4" }}, 2px -2px 0 {{ .Param "css.logoColor"  | default "#468ef4" }}, -2px -2px 0 {{ .Param "css.logoColor"  | default "#468ef4" }};
		{{else}}
			color: {{ .Param "css.logoColor"  | default "#468ef4" }};
		{{end}}
		margin-left: 20px;
	}
	.header-right {
		float: right;
		color: {{ .Param "css.headerTextColor" | default "#222" }};
		margin-top: 10px;
		height: 100%;
		position: relative;
	}
		.header-right .fa-search {
			position: absolute;
			top: 8px;
			left: 10px;
		}
		.search-input {
			padding: 9px 9px 9px 40px;
			width: 170px;
			margin: 0 5px 0 0;
			border-radius: 2px;
			border: 1px solid rgba(150,150,150,0.5);
			background-color: transparent;
			color: {{ .Param "css.headerTextColor" | default "#222" }};
		}
			.search-input:focus {
				border-color: {{ .Param "css.headerTextColor" | default "#468ef4" }};
			}
		.search-results {
			display: none;
			position: absolute;
			margin: 2px 0 0;
			padding: 0;
			left: 0;
			top: 100%;
			width:219px;
			z-index: 100;
			list-style: none;
			text-decoration: none;
			border: 1px solid #ddd;
			border-top: transparent;
			background-color: {{ .Param "css.headerTextColor" | default "#FFF" }};
		}
			.search-result {
				border-top: 1px solid #eee;
			}
			.search-result:hover,
			.search-result:focus {
				background-color: rgba(150,150,150,0.1);
			}
			.search-result + .search-result {
			}
				.search-result a {
					display: block;
					padding: 10px;
				}
				.search-result a:link,
				.search-result a:visited {
					color: {{ .Param "css.mainColor" | default "#468ef4" }};
					text-decoration: none;
				}
				.search-result p {
					color: {{ .Param "css.textColor" | default "#222" }};
					font-size: 0.8em;
					font-style: italic;
					padding: 5px 5px;
				}
		.search-results:hover,
		.search-results:focus,
		.search-input:focus + .search-results {
			display: block;
		}

		.btn {
			display: inline-block;
			border-radius: 2px;
			border:1px solid rgba(150,150,150,0.5);
			padding: 10px 15px;
			color: {{ .Param "css.headerTextColor" | default "#222" }};
			font-size: 0.9em;
			text-decoration: none;
		}
			.btn:hover,
			.btn:focus {
				border-color: {{ .Param "css.headerTextColor"  | default "#468ef4" }};
				color: {{ .Param "css.headerTextColor"  | default "#468ef4" }};
			}


.nav-wrapper {
	{{ if and (.Param "css.gradient_1") (.Param "css.gradient_2") }}
		background: {{ .Param "css.gradient_1" }};
		background: -moz-linear-gradient(45deg,  {{ .Param "css.gradient_1" }} 0%, {{ .Param "css.gradient_2" }} 100%);
		background: -webkit-linear-gradient(45deg,  {{ .Param "css.gradient_1" }} 0%, {{ .Param "css.gradient_2" }} 100%);
		background: linear-gradient(45deg,  {{ .Param "css.gradient_1" }} 0%, {{ .Param "css.gradient_2" }} 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ .Param "css.gradient_1" }}', endColorstr='{{ .Param "css.gradient_2" }}',GradientType=1 );
	{{else}}
		background: {{ .Param "css.mainColor"  | default "#468ef4" }};
	{{end}}

	{{ if and (.Param "css.headerBg") }}
		box-shadow: 0px -7px 6px -6px rgba(0,0,0,0.3) inset;
	{{else}}
		box-shadow: 0px 7px 6px -6px rgba(0,0,0,0.3) inset, 0px -7px 6px -6px rgba(0,0,0,0.3) inset;
	{{end}}

	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 10;
}

	.nav {
		margin-top: 0;
		margin-bottom: 0;
		display: flex;
		flex-wrap: wrap;
	}
	.nav > li {
		display: inline-block;
		list-style: none;
		line-height: 0;
	    position: relative;
	}
		.nav-link,
		.nav-span {
			line-height: 1em;
			display: inline-block;
			text-decoration: none;
			color: {{ .Param "css.textColorOnMainColor" | default "#FFF" }};
			padding: 15px 30px;
			font-weight: bold;
	        position: relative;
			transition: margin 100ms, padding 100ms;
			overflow: hidden;
			white-space: nowrap;
		}
		.nav-link {
			cursor: pointer;
		}

		.nav-span:hover ,
		.nav-span:focus,
		.nav-link:hover,
		.nav-link:focus  {
			background-color: rgba(0,0,0,0.2);
		}
		.nav-link-active {
			background-color: rgba(0,0,0,0.2);
		}

		{{ if and (.Param "css.menuAsTab") }}
			.nav-link,
			.nav-span {
				border-radius: 5px 5px 0 0;
				margin: 0 5px 0 0;
			}
			.nav-link.nav-link-active {
				background-color: {{ .Param "css.bgColor"  | default "#FFF" }};
				color: {{ .Param "css.mainColor"  | default "#468ef4" }};
			}
		{{end}}


		.subnav {
			position: absolute;
			top: 100%;
			overflow: hidden;
			left: 0;
			margin: 0;
			background-color: {{ .Param "css.mainColor"  | default "#468ef4" }};
			display: none;
		}
		.nav > li:hover > .subnav {
	        display: block;
	        z-index: 1;
	    }
			.subnav li {
			    list-style: none;
			    text-align: left;
			}

			    .subnav-link {
			    	display: block;
			        cursor: pointer;
			        padding: 20px 15px;
			        color: {{ .Param "css.textColorOnMainColor" | default "#FFF" }};
			        text-decoration: none;
			        font-size: 0.9em;
			    }
				.subnav-link:hover,
				.subnav-link:focus,
				.subnav-link-active {
					background-color: rgba(0,0,0,0.2);
				}

.content-wrapper {
	position: relative;
	padding: 40px 0 150px;
}
	.content {
		position: relative;
		box-sizing: border-box;
		padding: 0 20px 0 40px;
		line-height: 1.4em;
		color: {{ .Param "css.textColor" | default "#222" }};
	}
	.content-withside {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 250px);
	}
		.content-withside img, .content img {
			max-width: 100%;
			border: 1px solid #ccc;
			border-radius: 2px;
		}
		.content-withside .highlight, .content .highlight {
			overflow: auto;
			color: #fefefe;
			padding: 6px;
			border-radius: 2px;
		}
	.sidenav {
		vertical-align: top;
		display: inline-block;
		box-sizing: border-box;
		position: sticky;
		position: -webkit-sticky;
		top: 80px;
		width: 250px;
		line-height: 1rem;
	}
		#TableOfContents {
			border: 1px solid #eee;
			padding: 10px 20px 20px;
			top: 80px;
			font-size: 0.9em;
			overflow: auto;
			max-height: 80vh;
		}
		#TableOfContents ul {
			list-style-type: none;
			margin: 0;
		}
			#TableOfContents a {
				text-decoration: none;
				color: {{ .Param "css.textColor" | default "#222" }};
				display: block;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			#TableOfContents a:hover,
			#TableOfContents a:focus {
				background-color: #f5f5f5;
			}

			/* FIRST LEVEL */
			#TableOfContents > ul > li > a {
				color: {{ .Param "css.mainColor"  | default "#468ef4" }};
				padding: 5px 0;
			}
			#TableOfContents > ul > li + li {
				border-top: 1px solid #eee;
			}
				/* SECOND LEVEL */
				#TableOfContents > ul > li > ul {
					padding: 0 0 0 5px;
					font-size: 0.9em;
				}
				/* SECOND LEVEL */
				#TableOfContents > ul > li > ul > li > a {
				}

					/* THiRD LEVEL */
					#TableOfContents > ul > li > ul > li > ul {
						border-left: 1px solid #eee;
						padding: 0 0 0 5px;
						margin: 5px 0 10px 5px;
						font-size: 0.9em;
						color: {{ .Param "css.textColor" | default "#222" }};
					}
					#TableOfContents > ul > li > ul > li > ul >li > a {
						color: {{ .Param "css.textColor" | default "#222" }};
					}

						/* FOURTH LEVEL */
						#TableOfContents > ul > li > ul > li > ul > li > ul {
							display: none;
						}



h1 {
	font-family: 'special-font', sans-serif;
	color: {{ .Param "css.mainColor"  | default "#468ef4" }};
	border-bottom: 1px solid rgba(150,150,150,0.2);
	padding: 10px 0;
	font-size: 2em;
	font-weight: normal;
	margin: 40px 0 40px -40px;
}
h1:first-child {
	margin-top: 0;
}

h2 {
	color: {{ .Param "css.textColor" | default "#222" }};
	border-bottom: 1px solid rgba(150,150,150,0.2);
	padding: 10px 0;
	margin: 40px 0 20px -20px;
	font-size: 1.6em;
}

h3 {
	color: {{ .Param "css.textColor" | default "#222" }};
	border-bottom: 1px solid rgba(150,150,150,0.2);
	padding: 10px 0;
	margin: 20px 0;
	font-size: 1.2em;
}

h4 {
	color: {{ .Param "css.textColor" | default "#222" }};
	border-bottom: 1px solid rgba(150,150,150,0.2);
	padding: 10px 0;
	margin: 20px 0;
	font-size: 1.1em;
}

p {
	padding: 20px 0;
}
h2 ~ p {
	padding-left: 40px 0;
}

ul {
	list-style-type: square;
	margin: 20px 0 20px 40px;
}

.content a:link,
.content a:visited {
	color: {{ .Param "css.mainColor"  | default "#468ef4" }};
}
.content a:hover,
.content a:focus {
	text-decoration: none;
}

blockquote {
	border-radius: 2px;
	border:1px solid {{ .Param "css.alertColor" | default "red" }};
	color: {{ .Param "css.alertColor" | default "red" }};
	padding: 10px 20px;
	margin: 20px;
}
	blockquote p {
		padding: 0;
	}
	blockquote p + p {
		padding-top: 10px;
	}

code {
	background-color: #444;
	padding: 1px 5px;
	font-size: 0.9em;
	color: #fefefe;
	font-family: "Courier New";
}

table {
	width: 100%;
	text-align: center;
	margin: 20px 0;
}
	tr {
	}
	tr:hover,
	tr:focus {
		background-color: rgba(150,150,150,0.2);
	}
		th {
			padding: 2px;
			font-size: 0.8em;
			background: rgba(150,150,150,0.3);
			border: 1px solid rgba(150,150,150,0.4);
		}
		td {
			padding: 5px;
			border: 1px solid rgba(150,150,150,0.4);
		}

.gitInfos {
	margin: 0 auto;
	padding: 0 0 100px;
	color: {{ .Param "css.textColor" | default "#222" }};
	opacity: 0.6;
	font-size: 0.8em;
	line-height:1.5em;
	font-style: italic;
	text-align: center;
}
	.gitInfos-text {
		display: inline-block;
		border-top: 1px solid rgba(150,150,150,0.4);
		padding-top: 40px;
	}

.footer {
	{{ if and (.Param "css.gradient_1") (.Param "css.gradient_2") }}
		background: {{ .Param "css.gradient_1" }};
		background: -moz-linear-gradient(-45deg,  {{ .Param "css.gradient_1" }} 0%, {{ .Param "css.gradient_2" }} 100%);
		background: -webkit-linear-gradient(-45deg,  {{ .Param "css.gradient_1" }} 0%, {{ .Param "css.gradient_2" }} 100%);
		background: linear-gradient(135deg,  {{ .Param "css.gradient_1" }} 0%, {{ .Param "css.gradient_2" }} 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ .Param "css.gradient_1" }}', endColorstr='{{ .Param "css.gradient_2" }}',GradientType=1 );
	{{else}}
		background: {{ .Param "css.mainColor"  | default "#468ef4" }};
	{{end}}
	box-shadow: 0px 7px 6px -6px rgba(0,0,0,0.3) inset;

	color: #fff;
	text-align: center;
	padding: 40px 0;
	font-size: 0.9em;
	line-height:1.5em;
}

/* RESPONSIVE */

@media screen and (max-width: 1000px) {
	.header {
		text-align: center;
	}
	.header-right {
		float: none;
		display: inline-block;
		margin: 0 20px;
	}
}

@media screen and (max-width: 920px) {
    .nav {
        text-align: center;
    }

}

@media screen and (max-width: 800px) {

	.nav-wrapper {
		position: relative;
	}
	
	.nav li {
		flex: 1 1 100%;
	}
	
	.nav-span,
	.nav-link {
		padding: 10px;
		margin: 0;
		display: block;
		border-radius: 5px;
	}
	.nav-link.nav-link-active {
	}

		.subnav {
			display: block;
			position: relative;
			top:0;
		}

			.subnav li {
				text-align: center;
			}

	.sidenav {
		display: none;
	}
	.content-withside {
		width: 100%;
	}
	.content {
		padding: 0;
	}
	h1, h2, h3, h4 {
		margin-left:0;
	}
}

@media screen and (max-width: 620px) {
	.logo {
		max-width: 40px;
	}
	.header-sitename {
		font-size: 2em;
	}
	.header-right {
		display: none;
	}
}
