<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="canonical" href="{{ .Permalink }}">
	<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<style type="text/css">
		{{ partial "global.css" . | safeCSS }}
	</style>
	<style type="text/css">
		{{ partial "font-awesome.min.css" . | safeCSS }}
	</style>
	<style type="text/css">
		{{ partial "card.css" . | safeCSS }}
	</style>
	<style type="text/css">
		{{ partial "style.css" . | safeCSS }}
	</style>
	<style type="text/css">
		{{ partial "syntax.css" . | safeCSS }}
	</style>
	<script src="{{ `js/js-search.1.4.2.js` | absURL }}"></script>
	{{ range .Site.Params.favicons }}
	{{ safeHTML . }}
	{{ end }}
	<title>{{ .Site.Title }} - {{ .Title }}</title>
</head>
<body>

<header class="header">
	<div class="max-width">
		<img class="logo" src="{{ .Site.Params.logoFileName | absURL }}">
		<div class="header-sitename">{{ .Site.Title }}</div>
		<div class="header-right">
			<i class="fa fa-search" aria-hidden="true"></i>
			<input id="searchJs" type="text" class="search-input" />
			<ul id="searchResultsJs" class="search-results"></ul>
			{{ range .Site.Params.Header.links }}
			{{ safeHTML . }}
			{{ end }}
		</div>
	</div>
</header>
<script>
    window.onload = function() {
        //image size
        document.querySelectorAll("img").forEach(img => {
            console.log(img.src);
			const styles = img.src.split("?");
			if (styles.length > 1) {
                styles[1].split("&").forEach(arg => {
                    const style = arg.split("=");
                    if (style.length > 1) {
                        img.style[style[0]] = style[1]
                    }
                })
			}

		});
        //init search
        const search = new JsSearch.Search('url');
        search.addIndex('title');
        search.addIndex('description');
        search.addIndex('content');
	    const input = document.getElementById("searchJs");
	    const results = document.getElementById("searchResultsJs");
	    input.addEventListener('keyup', (e) => {
            results.innerHTML = '';
	        search.search(e.target.value).forEach(result => {
				const li = document.createElement("li");
				li.classList.add('search-result');
				li.innerHTML = `<a href="${result.url}">${result.title}<p>${result.description}</p></a>`;
                results.appendChild(li);
			})

        });
		fetch({{"index.json" | absURL}})
			.then((data) => data.json())
			.then(data => {
				search.addDocuments(data);
			})
    }
</script>
{{ partial "menu" . }}
