<nav class="nav">
	<ul class="max-width">
		{{ $currentPage := . }}
		{{ $baseUrl := .Site.BaseURL }}

		{{ range .Site.Menus.main }}
		{{if eq .Name $currentPage.Site.Params.homePageTitle}}
		<a href="{{ $baseUrl }}" class="nav-link {{ if eq $currentPage.Title $currentPage.Site.Params.homePageTitle }}active{{ end }}">
			<span>{{ .Name }}</span>
		</a>
		{{else if .HasChildren}}
		<ul href="{{ .URL | absURL }}" class="nav-link {{if $currentPage.HasMenuCurrent "main" . }}active{{end}}">
			<li>{{ .Name }}</li>
			<ul class="sub-nav-link">
				{{ range .Children }}
				<li><a href="{{.URL | absURL }}">{{ .Name }}</a> </li>
				{{ end }}
			</ul>
		</ul>
		{{else}}
		<a href="{{ .URL | absURL }}" class="nav-link {{ if eq $currentPage.URL .URL }}active{{ end }}">
			<span>{{ .Name }}</span>
		</a>
		{{end}}
		{{end}}
	</div>
</nav>
