
{{$tags := split (.Get "tags") ","}}

<a class="hiddenFilter" href="#">Cancel filter</a>

<div class="cards">

{{range $page := .Site.RegularPages}}

	{{ if gt ( len (intersect $page.Params.tags $tags)) 0 }}

			{{$.Scratch.Set "link" $page.Permalink}}
			{{ if $page.Params.redirect }}
				{{$.Scratch.Set "link" $page.Params.redirect}}
			{{ end }}

		    <div class="card {{range $page.Params.tags}} card-{{.}}{{end}}">
				<a class="card-link" href='{{$.Scratch.Get "link"}}'>
					{{ if $page.Params.card.icon }}
						<img class="card-icon" src='{{ $page.Params.card.icon }}'/>
						<span class='card-title small'>{{ $page.Title }}</span>
					{{ else }}
					<div class='card-title'>{{ $page.Title }}</div>
					{{ end }}
					<hr>
					<div class='card-content'>
						{{ $page.Description }}
					</div>
				</a>
				
				<ul class="card-tags">{{range $page.Params.tags}}<li class="card-tag card-tag-{{.}}"><a href="#{{.}}">{{.}}</a></li>{{end}}</ul>

				<div class='card-footer'>
					{{ $page.Lastmod.Format "January 2, 2006" }}
				</div>
			</div>

	{{ end }}

{{end}}

</div>